*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}
body{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: grid;
    place-items: center;
    
}
p{
    margin-top: 1rem;
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
}
img{
    max-width: 100%;
    border-radius: 3%;
}
.card{
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4%;
    max-width: 20rem;
    padding: 1rem;
    padding-top: 0.9rem;
}
.card_first_text,.card_second_text{
    margin-left: 2rem;
    margin-right: 2rem;
}
.card_first_text{
    text-align: justify;
    font-size: 0.6rem;
    font-weight: 700;
    margin-top: 1rem;
}
@media (max-width:500px) {
    body{
        margin-bottom: 10rem;
    }
}